$black: #232323;
$background: #f3f3f3;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;
$gray-line: #e0e0e0;

$primary-color: #3c8dfc;
$primary-text-color: #3c3c3c;
$secondary-text-color: #757575;
$input-border-color: #d0d0d0;
$error-color: #f44336;
